<h1 id="tableLabel">Edit student {{id}}</h1>

<div class="form-group">
  <label>First name</label>
  <input type="text" [(ngModel)]="student.firstName" class="form-control" />
  <label>Middle name</label>
  <input type="text" [(ngModel)]="student.middleName" class="form-control" />
  <label>Last name</label>
  <input type="text" [(ngModel)]="student.lastName" class="form-control" />
  <label>Gender (F or M)</label>
  <input type="text" [(ngModel)]="student.gender" class="form-control" />
  <label>Nickname</label>
  <input type="text" [(ngModel)]="student.nickName" class="form-control" />
</div>
