<h1 id="tableLabel">Students</h1>


<p *ngIf="!Students"><em>Loading...</em></p>

<input type="button" value="Добавить" class="btn btn-success mb-2" (click)="add()" />


<table *ngIf="tableMode; else create" class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>Nickname</th>
      <th>Gender</th>
      <th>Settings</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of Students">
      <ng-template [ngIf]="student?.id != s.id" [ngIfElse]="edit">
        <td>{{ s.firstName }}</td>
        <td>{{ s.middleName }}</td>
        <td>{{ s.lastName }}</td>
        <td>{{ s.nickName }}</td>
        <td>{{ s.gender }}</td>
        <td>
          <button class="btn btn-sm btn-danger mr-2" (click)="delete(s)">Remove</button>
          <button class="btn btn-sm btn-warning mr-2" (click)="editStudent(s)">Edit</button>
          <button class="btn btn-sm btn-primary" (click)="edit(s)">Choose group</button>

        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<ng-template #edit>
  <td>
    <input id="firstname" name="firstname" class="form-control"
           required maxlength="60" [(ngModel)]="student.firstName" #firstname="ngModel" />
    <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
         class="alert alert-danger">
      <div *ngIf="firstname.errors.required">
        First name is required.
      </div>
    </div>
  </td>
  <td>
    <input id="middlename" name="middlename" class="form-control"
           required maxlength="60" [(ngModel)]="student.middleName" #middlename="ngModel" />
    <div *ngIf="middlename.invalid && (middlename.dirty || middlename.touched)"
         class="alert alert-danger">
      <div *ngIf="middlename.errors.required">
        Middle name is required.
      </div>
    </div>
  </td>
  <td>
    <input id="lastname" name="lastname" class="form-control"
           required maxlength="60" [(ngModel)]="student.lastName" #lastname="ngModel" />
    <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
         class="alert alert-danger">
      <div *ngIf="lastname.errors.required">
        Last name is required.
      </div>
    </div>
  </td>
  <td>
    <input id="name" name="name" class="form-control"
           required minlength="6" maxlength="40" [(ngModel)]="student.nickName" #name="ngModel" />
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger">
      <div *ngIf="name.errors.required">
        Nickname is required.
      </div>
      <div *ngIf="name.errors.minlength">
        Nickname cannot be smaller than 6 characters
      </div>
      <div *ngIf="name.errors.maxlength">
        Nickname cannot be longer than 40 characters
      </div>

    </div>
  </td>
  <td>
    <input type="text" [(ngModel)]="student.gender" class="form-control" />
  </td>
  <td>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
  <div class="form-group">
    <label>First name</label>
    <input id="firstname" name="firstname" class="form-control"
           required maxlength="60" [(ngModel)]="student.firstName" #firstname="ngModel" />
    <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
         class="alert alert-danger">
      <div *ngIf="firstname.errors.required">
        First name is required.
      </div>
    </div>
    <label>Middle name</label>
    <input id="middlename" name="middlename" class="form-control"
           required maxlength="60" [(ngModel)]="student.middleName" #middlename="ngModel" />
    <div *ngIf="middlename.invalid && (middlename.dirty || middlename.touched)"
         class="alert alert-danger">
      <div *ngIf="middlename.errors.required">
        Middle name is required.
      </div>
    </div>
    <label>Last name</label>
    <input id="lastname" name="lastname" class="form-control"
           required maxlength="60" [(ngModel)]="student.lastName" #lastname="ngModel" />
    <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
         class="alert alert-danger">
      <div *ngIf="lastname.errors.required">
        Last name is required.
      </div>
    </div>
    <label>Nickname</label>
    <input id="name" name="name" class="form-control"
           required minlength="6" maxlength="40" [(ngModel)]="student.nickName" #name="ngModel" />
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger">
      <div *ngIf="name.errors.required">
        Nickname is required.
      </div>
      <div *ngIf="name.errors.minlength">
        Nickname cannot be smaller than 6 characters
      </div>
      <div *ngIf="name.errors.maxlength">
        Nickname cannot be longer than 40 characters
      </div>

    </div>
    <label>Gender (F or M)</label>
    <input type="text" [(ngModel)]="student.gender" class="form-control" />

  </div>

  <div>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>
