<h1 id="tableLabel">Groups</h1>



<input type="button" value="Добавить" class="btn btn-success mb-2" (click)="add()" />


<table *ngIf="tableMode; else create" class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>ID</th>
      <th>Group name</th>
      <th>Students</th>
      <th>Settings</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let g of Groups">
      <ng-template [ngIf]="group?.id != g.id" [ngIfElse]="edit">
        <td>{{ g.id }}</td>
        <td>{{ g.name }}</td>
        <td>
          <ul class="list-group" *ngFor="let s of g.studentGroups">
            {{s.student.firstName}}
            {{s.student.lastName}}
          </ul>
        </td>
        <td>
          <button class="btn btn-sm btn-danger mr-2" (click)="delete(g)">Remove</button>
          <button class="btn btn-sm btn-warning mr-2" (click)="editGroup(g, g.id)">Edit</button>
          <a [routerLink]="['/studentgroups']">
            <button class="btn btn-sm btn-primary">Change students</button>
          </a>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<p *ngIf="!Groups"><em>Loading...</em></p>


<ng-template #edit>
  <td></td>
  <td>
    <input id="name" name="name" class="form-control"
           required maxlength="40" [(ngModel)]="group.name" #name="ngModel" />
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger">
      <div *ngIf="name.errors.required">
        Group name is required.
      </div>
      <div *ngIf="name.errors.maxlength">
        Group name cannot be longer than 25 characters
      </div>
    </div>
  </td>
  <td>
    {{group.id}}
  </td>
  <td></td>
  <td>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success mr-2" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning mr-2" />
  </td>
</ng-template>


<ng-template #create>
  <div class="form-group">
    <label>Group name</label>
    <input id="name" name="name" class="form-control"
           required maxlength="40" [(ngModel)]="group.name" #name="ngModel" />
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger">
      <div *ngIf="name.errors.required">
        Group name is required.
      </div>
      <div *ngIf="name.errors.maxlength">
        Group name cannot be longer than 40 characters
      </div>

    </div>

  </div>

  <div>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success mr-2" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning mr-2" />
  </div>
</ng-template>
